.select-five-style {
    color: #FF5E19;
    height: 25rem;
    font-family: 'Berkshire Swash', cursive;

}

header h1 {
    font-size: 4.5rem;
}

main {
    font-family: 'Manrope', sans-serif;
}

.footer-style {
    height: 10rem;
    color: #fff;
    border-top: 1px solid black;
}